# Python artifacts
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/

# Environment
.venv/
env/
venv/
ENV/
*.env

# Mac/Windows/Linux system files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Streamlit logs
.streamlit/

# Ignore model cache if present
*.pt
*.ckpt
